.footer {
    grid-area: footer;
    height: 100px;
    padding: 0 .5rem;
    background: #1a274c;
    color: #fff;
}
.footer h3 {
    font-size: 2rem;
    margin: 0;
}
.footer p {
    margin-bottom: 0;
}